<!doctype html>
<!--[if lt IE 8]>      <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
	<head>
		<meta charset="utf-8">

		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="apple-touch-icon" href="apple-touch-icon.png">
		<!-- Place favicon.ico in the root directory -->
		
		<!-- Latest compiled and minified BOOSTRAP CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
         
		<link rel="stylesheet" href="css/main.css">
		
		
	</head>
	<body>
		<!--[if lte IE 7]>
			<p class="browsehappy">You are using an <strong>outdated</strong>
				browser. Please
				<a href="http://browsehappy.com/">upgrade your browser</a> to
				improve your experience.</p>
		<![endif]-->
		
		<!-- Main Wrapper -->
		<div class="main-wrapper">
			

		<!-- Header -->
		<header>
			
			<div class="container">
			
				<!-- controls to create a new note -->
				<div class="row">
					<div class="header-inner">
						<div class="col-md-9 col-xs-12 col-md-push-3">
							<div class="notes-header">
								<h1>Note a Problem</h1>
							</div>
						</div>
						
						<div id="controls" class="col-md-3 col-xs-12 col-md-pull-9">
							<button id="btnNew" class="new-note"><span>New Note</span></button>
						</div>
					</div>
				</div>
			
			</div>
						
		</header>
		
		<!-- Start Main BS Container -->
		<div class="container">