/**
 * Typography is specified in here.
 */
 
/* @import must be at top of file, otherwise CSS will not work */
/*@import url("//hello.myfonts.net/count/342339");*/

  
@font-face {font-family: 'NeutraText-Bold';src: url('../fonts/NeutraText-Bold.eot');src: url('../fonts/NeutraText-Bold.eot?#iefix') format('embedded-opentype'),url('../fonts/NeutraText-Bold.woff2') format('woff2'),url('../fonts/NeutraText-Bold.woff') format('woff'),url('../fonts/NeutraText-Bold.ttf') format('truetype');}

@font-face {font-family: 'NeutraText-Book';src: url('../fonts/NeutraText-Book.eot');src: url('../fonts/NeutraText-Book.eot?#iefix') format('embedded-opentype'),url('../fonts/NeutraText-Book.woff2') format('woff2'),url('../fonts/NeutraText-Book.woff') format('woff'),url('../fonts/NeutraText-Book.ttf') format('truetype');}

 
body {
	font-family: $font-main;
	font-size:16px;
	color: $body-font-color;
	font-weight: normal;
	font-style: normal;
}

h1,
h2,
h3,
h4 {
	font-family: $font-bold;
	font-weight: normal;
	font-style: normal;
}

strong {
	font-family: $font-bold;
	font-weight: normal;
	font-style: normal;
}

h1 {
	font-size:70px;
	line-height: 70px;

	
	@include tablet {
		font-size:62px;
		line-height: 76px;
	}
	
	@include mobile {
		font-size: 42px;
		line-height: 46px;
	}


}

h2 {
	font-size:40px;
	line-height: 43px;
	margin:20px auto;
	
	@include tablet {
		font-size:32px;
		line-height: 35px;
	}
	
	@include mobile {
		font-size:28px;
		line-height: 29px;
	}


}

h3 {
	font-size:32px;
	line-height: 25px;
	
	@include mobile-tablet {
		font-size:26px;
		line-height: 26px;
	}
	
}

h4 {
	font-size:22px;
	line-height: 25px;
	
	@include mobile-tablet {
		font-size:18px;
		line-height: 22px;
	}
}

h5 {
	font-size:18px;
	line-height: 23px;
	
	@include mobile-tablet {
		font-size:15px;
		line-height: 18px;
	}
}


p {
    font-size:24px;
    line-height: 28px;
    font-weight: normal;
	font-style: normal;
	color: $off-black;
    
    @include mobile {
		font-size:16px;
		line-height: 22px;   
	}
}


ul {
	li {
		font-size: 22px;
	}
}




